

.sidepanel{display: inline-block;}

@media screen and (max-width:1000px ){
	.sidepanel{
		display:inline-block;
        
	}
}

@media screen and (max-width:400px ){
	.sidepanel{
		display: inline-block;
		float: ;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
		}
	}





.header
{
	margin-top:-80px;
    padding-top: 5px;
	height:70px;
	position: ;
}
.header img
{
	width:100px;
	height:100px;
	margin-top:-5px;
	margin-left:5px;
}
.menu a
{
	margin:px;
	margin-top:0px;
	font-size:20px;
	color:black;
	padding:8px;
	border-radius:3px;
	margin-left: 0px;
}

.menu a:hover
{
	background: linear-gradient(to top right,cornflowerblue,black);
	padding:8px;
    color: white;
	border-radius:3px;
}
.header h3
{
	margin-left:0px;
	margin-top:-30px;
    color: black;
    font-family: serif;
    font-weight: bolder;
}
.menu
{
	margin-left:300px;
	margin-top:-200px;
	position: sticky;
    font-family:"Courier ";
}

@media screen and (max-width:1000px ){
	.menu {
		display: none;
         
	}
}




.sidepanel  
{
  width:0px;
  position:fixed;
  z-index: 1;
  height: 310px;
  top: 90px;
  left: 20px;
  background: linear-gradient(to top right,cornflowerblue,black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-radius: 10px;
}

.sidepanel a {
  padding: 8px 8px 18px 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
    margin-top: -20px;
}

.sidepanel a:hover {
  color: lime;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to top right,cornflowerblue,black);
  color: white;
  padding: 0px 10px;
  border: none;
  position:;
  margin-top:10px;
 
 }
.openbtn:hover 
{
  background-color: lime;
}




/*-----home-----*/

#home
{
	bottom:0;
	color:#f1f1f1;
	padding:20px;
	margin-top:80px;
	font-family:"Courier ";
	font-size: 140px;
    height: 500px;
    background-image: url(images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: full image;
    
}
@media screen and (max-width:1000px ){
	#home{
		width:500px;
	}

	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
}}
@media screen and (max-width:400px ){
	#home{
         width: 500px;
        padding: 10px;
	}
}
@media screen and (max-width:400px ){
	#home{
         width: 540px;
        padding: 10px;
	}
}
#home h2
{
    font-family:Embassy BT; 
    font-weight:bolder; 
    color:black; font-size:70px; 
    margin-top:60px;
    
}
#services
{
    margin-top: 150px;
    text-align: center;
    
}
#services h3
{
    font-family:Embassy BT;
    color: white;
    font-size: 60px;
}
#services p
{
    font-family:Embassy BT;
    color: white;
    font-size: 16px;
}




/*-----about-------*/
#about-us, #about-us-process, #about-us-testimonials, #about-us-register
{
	margin-top:100px;
   background: linear-gradient(to top right,cornflowerblue,black);
    height: 400px;
	
}
@media screen and (max-width:1000px ){
	#about-us, #about-us-process, #about-us-services, #about-us-register, #about-us-testimonials{
         width: 480px;
        padding: 10px;
	}
}
@media screen and (max-width:400px ){
	#about-us, #about-us-process, #about-us-services, #about-us-register, #about-us-testimonials{
         width: 600px;
	}
}
.box
{
    margin-left: 100px;
    padding-top: 100px;
    font-family:"Courier";
	color:black;
	
}
@media screen and (max-width:1000px ){
	.box{
		display:inline-block;
        margin-left: 10px;
	}
}
@media screen and (max-width:400px ){
	.box{
		display:inline-block;
	}
}
.box img
{
    margin-top: -130px;
    width: 250px;
    height: 200px;
}
.about-us img
{
    margin-left: 10px;margin-top: -130px;
}
@media screen and (max-width:1000px ){
	.about-us img{
		
		margin-left:100px;margin-top: -100px;
         
	}
}
@media screen and (max-width:400px ){
	.about-us img{
		
		margin-left:80px;
         
	}
}
.about-us
{
    margin-left:-40px;
    font-size:16px;
    width: 440px;
    margin-top: 10px;
    background-color: ;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    
}
@media screen and (max-width:1000px ){
	.about-us{
		margin-left:10px;
         
	}
}
@media screen and (max-width:400px ){
	.about-us{
		margin-left:30px;
         
	}
}
@media screen and (max-width:1000px ){
	#booking{
		margin-top:20px;
         
	}
}
.about-us-box
{
    margin-left:-20px;
    font-size:16px;
    width: 400px;
    background: linear-gradient(to top right,black,goldenrod,black);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    color: white;
}

@media screen and (max-width:1000px ){
	.about-us-box{
		margin-left:-25px;width: 450px;margin-top: 30px;
         
	}
}
@media screen and (max-width:400px ){
	.about-us-box{
		margin-left:-20px;width: 450px;padding: 10px;margin-top: 30px;
         
	}
}
#aboutus
{
    margin-left: 30px;
    margin-top: 30px;
}
.aboutus
{
    margin-top: 80px;
    margin-left: 10px;
}
.aboutus-box
{
	display:inline-block;
    width: 300px;
    margin-left:10px;
    font-size:16px;
    margin-top: 80px;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 20px;
    color: white;
    border-radius: 5px;
    font-family:"Courier ";
    
}
@media screen and (max-width:1000px ){
	.aboutus-box{
         width: 400px;
	}
}
@media screen and (max-width:400px ){
	.aboutus-box{
         width: 450px;
	}
}
.aboutus-box:hover
{
     box-shadow: 0 15px 20px #CC6600;
}
h1
{
	color:black;
	text-align:;
    width: 200px;
	font-family:Embassy BT;
    border-right-color: black;
    border-right-style: solid;
    background-color: white;

}
@media screen and (max-width:1000px ){
	h1{
		width: 450px;
         
	}
}
@media screen and (max-width:400px ){
	h1{
		width: 450px;
         
	}
}
.aboutus-box .fa
{
    border-radius: 200px;
    padding: 20px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    margin-left: 95px;
    margin-top: -50px;
    color: cornflowerblue;
}
@media screen and (max-width:1000px ){
	.aboutus-box .fa{
		
		margin-left:150px;
         
	}
}
.buy-btn
{
	
	background-image: url(images/image22.png);
	color:white;
    padding:10px 20px;
}
.buy-btn:hover
{
    background-color: lime;
}
.aboutus img
{
    margin-left:-500px; 
    margin-top:180px; 
    width:300px;
    height:250px;
}


/+---services----*/

#servicess
{
    background-color: black;
    margin-top: 50px;
}
img
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: -300px;
}








ul
{
    font-weight: lighter;
    
}
.box .fa
{
    color:white;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*----Footer----*/

#footer
{
    background-color: black;
    margin-top: 50px;
}
.footer
{
	
	margin-top:10px;
	color:white;
	width:100%;
	padding:10px;
    
}
.footer{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.footer{
		display: ;
		margin-left:10px;
	}
}

@media screen and (max-width:400px ){
	#footer{
		display: none;
		
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;	
		}
	}
.footer-content
{
    display: inline-block;
    margin-left: 40px;
    width: 200px;
}
@media screen and (max-width:1000px ){
	.footer-content{
		margin-left:0px;
	}
}
.footer h6
{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 5px;
    margin-left:20px;
    color: white;
    text-align: center;
    
	
}
.footer a
{
    color: white;
}
.footer img
{
    height: 100px;
    width: 200px;
    margin-top: -140px;
}
.footer a:hover
{
    color: lime;
}
.footer h5
{
	margin-left:30px;
	font-weight:lighter;
	font-size:14px;
  
}
.copyright
{
	
	padding:10px;
	background-color:black;
	color:white;
    margin-top: 1px;
	text-align:center;
}
@media screen and (max-width:400px ){
	.copyright{
		width:540px;
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
}}
.copyright p
{
    text-align:center;padding:10px;
}
@media screen and (max-width:1000px ){
	.copyright p{
		font-size: 12px;
        text-align: left;
	}
}
.copyright .fa
{
    color:white;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.copyright .fa:hover
{
    color: lime;
}
.carousel-control-prev, .carousel-control-next
{
    color: red;
    background-color:goldenrod;
    height: 40px;
    margin-top: 200px;
}
