
.sidepanel{display: inline-block;}

@media screen and (max-width:1000px ){
	.sidepanel{
		display:inline-block;
        
	}
}

@media screen and (max-width:400px ){
	.sidepanel{
		display: inline-block;
		float: ;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
		}
	}








.header
{
	margin-top:-80px;
    padding-top: 5px;
	height:70px;
	position: ;
}
.header img
{
	width:100px;
	height:100px;
	margin-top:-5px;
	margin-left:5px;
}
.menu a
{
	margin:px;
	margin-top:0px;
	font-size:20px;
	color:black;
	padding:8px;
	border-radius:3px;
	margin-left: 0px;
}

.menu a:hover
{
	background: linear-gradient(to top right,cornflowerblue,black);
	padding:8px;
    color: white;
	border-radius:3px;
}
.header h3
{
	margin-left:0px;
	margin-top:-30px;
    color: black;
    font-family: serif;
    font-weight: bolder;
}
.menu
{
	margin-left:300px;
	margin-top:-200px;
	position: sticky;
    font-family:"Courier ";
}

@media screen and (max-width:1000px ){
	.menu {
		display: none;
         
	}
}





.sidepanel  
{
  width:0px;
  position:fixed;
  z-index: 1;
  height: 310px;
  top: 90px;
  left: 20px;
  background: linear-gradient(to top right,cornflowerblue,black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 10px;
}

.sidepanel a {
  padding: 8px 8px 18px 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
    margin-top: -20px;
}

.sidepanel a:hover {
  color: lime;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to top right,cornflowerblue,black);
  color: white;
  padding: 0px 10px;
  border: none;
  position:;
  margin-top:10px;
 
 }
.openbtn:hover 
{
  background: linear-gradient(to top right,cornflowerblue,black);
}




/*-----home-----*/
#home
{
	bottom:0;
	color:#f1f1f1;
	padding:20px;
	margin-top:80px;
	font-family:"Courier ";
	font-size: 140px;
    height: 500px;
    background-image: url(images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: full image;
    
}
@media screen and (max-width:1000px ){
	#home{
		width:500px;
	}
}

@media screen and (max-width:400px ){
	#home{
         width: 640px;
        padding: 10px;
	}
}
#home h2
{
    font-family:Embassy BT; 
    font-weight:bolder; 
    color:black; font-size:70px; 
    margin-top:60px;
    
}
#services
{
    margin-top: 150px;
    text-align: center;
    
}
#services h3
{
    font-family:Embassy BT;
    color: white;
    font-size: 60px;
}
#services p
{
    font-family:Embassy BT;
    color: white;
    font-size: 16px;
}


/*-----process-------*/
#process
{
	margin-top:20px;
   font-family:"Courier "; 	
}
.process
{
	margin-left:50px;
    height: 400px;
   margin-top: 50px;
	
}
@media screen and (max-width:1000px ){
	.process{
        margin-left: 10px;
        height: 450px;
         
	}
}
.process-content
{
    margin-left: 310px;
    margin-top: -30px;
    width: 600px;
    display: inline-block;
    background-color: ;
}
.process-content-box
{
    margin-left: 10px;
    background: linear-gradient(to top right,cornflowerblue,black); 
    color: white; 
    padding: 10px; 
    height: 360px;
    width: 600px;
    border-radius: 5px;
    
}
@media screen and (max-width:1000px ){
	.process-content-box{
        width: 460px;
        height: 530px;
        margin-top: 400px;
        
         
	}
}
@media screen and (max-width:400px ){
	.process-content-box{
        width: 550px;
        margin-left: 10px;
        height: 430px;
         
	}
}
@media screen and (max-width:1000px ){
	.process-content{
		margin-left:20px;
        margin-top: 400px;
        width: 460px;
         
	}
}
.icon
{
    text-align: left; 
    margin-top: 40px;
}
@media screen and (max-width:1000px ){
	icon {
        margin-top: -600px;
	}
}
.icon img
{
    margin-left: -20px;
}
@media screen and (max-width:1000px ){
	.icon img{
		margin-left:100px; 
	}
}
@media screen and (max-width:400px ){
	.icon img{
		margin-left:80px;
       
         
	}
}
@media screen and (max-width:1000px ){
	.process-icon img{
		margin-left:-400px;
        margin-top: 730px;
        width: 400px;
         
	}
}
@media screen and (max-width:400px ){
	.process-icon img{
		margin-left:-420px;
        margin-top: 730px;
        width: 400px;
         
	}
}
.process-icon
{
    margin-left: 650px;
    margin-top: 40px;
    margin-top: -270px; 
}
@media screen and (max-width:1000px ){
	.process-icon{
        margin-top: -860px; 
        margin-left: 500px;
        
         
	}
}
@media screen and (max-width:400px ){
	.process-icon{
        margin-top: -700px; 
        margin-left: 500px;
        
         
	}
}
.process .fa
{
    font-size: 150px;
    border-radius: 100%;
    padding: 20px;
}
.process img
{
    width: 240px;
    height: 200px;
    margin-top: -20px;
}
@media screen and (max-width:1000px ){
	.process img{
        margin-top: 10px;
        width: 300px;
        height: 200px;
         
	}
}
.process-user
{
    margin-left: 310px;
    margin-top: -320px;
    width: 600px;
    display: inline-block;
    background-color: ;
}
@media screen and (max-width:1000px ){
	.process-user{
        margin-top: 0px;
        margin-left: 20px;
        width: 460px;        
	}
}
@media screen and (max-width:1000px ){
	#info{
        margin-top: 400px;       
	}
}
.user-info
{
    margin-top: -300px;
}
@media screen and (max-width:1000px ){
	.user-info{
        margin-top: 0px;       
	}
}
.process-user  img
{
    margin-top: 300px;
    margin-left: -280px;
}
@media screen and (max-width:1000px ){
	.process-user img{
        margin-top: 80px;
        margin-left: 100px;        
	}
}
hr
{
 
    margin-left: 60px;
    width: 84%;
}
h1
{
	color:black;
	text-align:;
    width: 200px;
	font-family:Embassy BT;
    border-right-color: black;
    border-right-style: solid;
    background-color: white;

}

li
{
    list-style: none;
}

/*----Footer----*/

#footer
{
    background-color: black;
    margin-top: 50px;
}
@media screen and (max-width:1000px ){
	#footer{
        margin-top: 600px;       
	}
}
@media screen and (max-width:1000px ){
	#footer{
        margin-top: 540px;       
	}
}
.footer
{
	
	margin-top:10px;
	color:white;
	width:100%;
	padding:10px;
    
}
.footer{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.footer{
		display: ;
		margin-left:10px;
	}
}

@media screen and (max-width:400px ){
	#footer{
		display: none;
		
	}
	a. .footer:link,
	a. .footer:visited,
	a. .footer:hover,
	a. .footer:active {
		text-decoration:none;
		color:#fff;
		}
	}
.footer-content
{
    display: inline-block;
    margin-left: 40px;
    width: 200px;
}
@media screen and (max-width:1000px ){
	.footer-content{
		margin-left:0px;
	}
}
.footer h6
{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 5px;
    margin-left:20px;
    color: white;
    text-align: center;
    
	
}
.footer img
{
    height: 100px;
    width: 200px;
    margin-top: -140px;
}
.footer a
{
    color: white;
}
.footer a:hover
{
    color: lime;
}
.footer h5
{
	margin-left:30px;
	font-weight:lighter;
	font-size:14px;
  
}
.copyright
{
	
	padding:10px;
	background-color:black;
	color:white;
    margin-top: 1px;
	text-align:center;
}
.copyright p
{
    text-align:center;padding:10px;
}
@media screen and (max-width:1000px ){
	.copyright p{
		font-size: 12px;
        text-align: left;
	}
}
@media screen and (max-width:400px ){
	.copyright {
		width:500px;
		margin-top:600px;
		text-align:center;
	}
}
.copyright .fa
{
       color:white;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.copyright .fa:hover
{
    color: lime;
}
.carousel-control-prev, .carousel-control-next
{
    color: red;
    background: linear-gradient(to top right,cornflowerblue,black);
    height: 40px;
    margin-top: 200px;
}
