

.sidepanel{display: inline-block;}

@media screen and (max-width:1000px ){
	.sidepanel{
		display:inline-block;
        
	}
}

@media screen and (max-width:400px ){
	.sidepanel{
		display: inline-block;
		float: ;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
		}
	}





.header
{
	margin-top:-80px;
    padding-top: 5px;
	height:70px;
	position: ;
}
.header img
{
	width:100px;
	height:100px;
	margin-top:-5px;
	margin-left:5px;
}
.menu a
{
	margin:px;
	margin-top:0px;
	font-size:20px;
	color:black;
	padding:8px;
	border-radius:3px;
	margin-left: 0px;
}

.menu a:hover
{
	background: linear-gradient(to top right,cornflowerblue,black);
	padding:8px;
    color: white;
	border-radius:3px;
}
.header h3
{
	margin-left:0px;
	margin-top:-30px;
    color: black;
    font-family: serif;
    font-weight: bolder;
}
.menu
{
	margin-left:300px;
	margin-top:-200px;
	position: sticky;
    font-family:"Courier ";
}

@media screen and (max-width:1000px ){
	.menu {
		display: none;
         
	}
}




.sidepanel  
{
  width:0px;
  position:fixed;
  z-index: 1;
  height: 310px;
  top: 90px;
  left: 20px;
  background: linear-gradient(to top right,cornflowerblue,black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-radius: 10px;
}

.sidepanel a {
  padding: 8px 8px 18px 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
    margin-top: -20px;
}

.sidepanel a:hover {
  color: lime;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to top right,cornflowerblue,black);
  color: white;
  padding: 0px 10px;
  border: none;
  position:;
  margin-top:10px;
 
 }
.openbtn:hover 
{
  background-color: lime;
}




/*-----home-----*/

#home
{
	bottom:0;
	color:#f1f1f1;
	padding:20px;
	margin-top:80px;
	font-family:"Courier ";
	font-size: 140px;
    height: 500px;
    background-image: url(marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: full image;
    
}
@media screen and (max-width:1000px ){
	#home{
		width:500px;
	}

	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
}}
@media screen and (max-width:400px ){
	#home{
         width: 500px;
        padding: 10px;
	}
}
@media screen and (max-width:400px ){
	#home{
         width: 540px;
        padding: 10px;
	}
}
#home h2
{
    font-family:Embassy BT; 
    font-weight:bolder; 
    color:black; font-size:70px; 
    margin-top:60px;
    
}
#services
{
    margin-top: 150px;
    text-align: center;
    
}
#services h3
{
    font-family:Embassy BT;
    color: white;
    font-size: 60px;
}
#services p
{
    font-family:Embassy BT;
    color: white;
    font-size: 16px;
}

/*-----about-------*/
#about
{
	margin-top:50px;
    font-family:"Courier ";
   
	
}
@media screen and (max-width:1000px ){
	#about{
		height: 600px;
	}
}
@media screen and (max-width:400px ){
	#about{
		width: 550px;height: 600px;
	}
}
.about
{
	margin-left:50px;
    height: 400px;
   
	
}
.about-content
{
    margin-left: 10px;
    margin-top: 50px;
    width: 400px;
    display: inline-block;
    background-color: ;
    padding: 10px;
}
@media screen and (max-width:1000px ){
	.about-content{
		width: 490px;margin-left: -50px;
	}
}
@media screen and (max-width:400px ){
	.about-content{
		width: 550px;margin-left: -40px;
	}
}
.about-icon
{
    margin-left: 10px;
    margin-top: -60px;
    width: 250px;
    display: inline-block;
    background-color: ;
}
@media screen and (max-width:1000px ){
	.about-icon{
		margin-top: -20px;
	}
}
.icon
{
    
}
.about-icon .fa
{
    font-size: 150px;
    border-radius: 100%;
    padding: 20px;
}
.about img
{
    width: 400px;
    height: 300px;
}
@media screen and (max-width:1000px ){
	.about img{
		margin-left: 30px;
	}
}
@media screen and (max-width:400px ){
	.about img{
		margin-left: 50px;
	}
}
h1
{
	color:black;
	text-align:;
    width: 200px;
	font-family:Embassy BT;
    border-right-color: black;
    border-right-style: solid;
    background-color: white;

}
h6
{
    color: lime;
    
}
/*---templates----*/
#templates
{
    height: 500px;
    margin-top: 50px;
}
#templates{display: inline-block!important;}

@media screen and (max-width:1000px ){
	#templates{
		height: 400px;
	}
}
.templates
{
	margin-top:50px;
	display:inline-block;
	background-color:;
	padding-bottom:10px;
	margin-left:40px;
	
}
.templates{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.templates{
		display: none;
		margin-left:20px;
        width:460px;
	}
}

@media screen and (max-width:400px ){
	.templates{
		display: block;
		float: left;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. .templates:link,
	a. .templates:visited,
	a. .templates:hover,
	a. .templates:active {
		text-decoration:none;
		color:#fff;
    }
}
.templates img
{
	border:thin;
	border-color:black;
	border-style:solid;
	height:300px;
	width:210px;
	margin-left:10px;

}
.templates img{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.templates img{
		display: none;
		margin-left:0px;
        width:110px;
        height: 200px;
	}
}


.templates h5
{
	color:white;
	font-weight:bolder;
    width: 300px;
        border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    background: linear-gradient(to top right,cornflowerblue,black);
    margin-left: 10px;
    padding: 5px;
}

.templates h5{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.templates h5{
		display: none;
		margin-left:0px;
	}
}

@media screen and (max-width:400px ){
	.templates h5{
		display: block;
		float: left;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. .templates h5:link,
	a. .templates h5:visited,
	a. .templates h5:hover,
	a. .templates h5:active {
		text-decoration:none;
		color:#fff;
		}
	}







.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  padding: 16px;
  margin-top: -42px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background: linear-gradient(to top right,cornflowerblue,black);
}




.fade {
  -webkit-animation-name: none;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
    {
        width: 400px;
    }
}


/*----Footer----*/

#footer
{
    background-color: black;
    margin-top: 50px;
}
.footer
{
	
	margin-top:10px;
	color:white;
	width:100%;
	padding:10px;
    
}
.footer{display: inline-block!important;}

@media screen and (max-width:1000px ){
	.footer{
		display: ;
		margin-left:10px;
	}
}

@media screen and (max-width:400px ){
	#footer{
		display: none;
		
	}
	a. .footer:link,
	a. .footer:visited,
	a. .footer:hover,
	a. .footer:active {
		text-decoration:none;
		color:#fff;
		}
	}
.footer-content
{
    display: inline-block;
    margin-left: 40px;
    width: 200px;
}
@media screen and (max-width:1000px ){
	.footer-content{
		margin-left:0px;
	}
}
.footer h6
{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 5px;
    margin-left:20px;
    color: white;
    text-align: center;
    
	
}
.footer img
{
    height: 100px;
    width: 200px;
    margin-top: -140px;
}
.footer a
{
    color: white;
}
.footer a:hover
{
    color: lime;
}
.footer h5
{
	margin-left:30px;
	font-weight:lighter;
	font-size:14px;
  
}
.copyright
{
	
	padding:10px;
	background-color:black;
	color:white;
    margin-top: 1px;
}
.copyright p
{
    text-align:center;padding:10px;
}
@media screen and (max-width:1000px ){
	.copyright p{
		font-size: 12px;
        text-align: left;
	}
}
@media screen and (max-width:400px ){
	.copyright{
		width:550px;
        
	}
}
.copyright .fa
{
        color:white;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.copyright .fa:hover
{
    color: lime;
}
.carousel-control-prev, .carousel-control-next
{
    color: red;
    background-color:goldenrod;
    height: 40px;
    margin-top: 200px;
}
