


.sidepanel{display: inline-block;}

@media screen and (max-width:1000px ){
	.sidepanel{
		display:inline-block;
        
	}
}

@media screen and (max-width:400px ){
	.sidepanel{
		display: inline-block;
		float: ;
		margin:2px;
		font-size:2em;
		transition:color linear 0,15s;
	}
	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
		}
	}






.header
{
	margin-top:-80px;
    padding-top: 5px;
	height:70px;
	position: ;
}
.header img
{
	width:100px;
	height:100px;
	margin-top:-5px;
	margin-left:5px;
}
.menu a
{
	margin:px;
	margin-top:0px;
	font-size:20px;
	color:black;
	padding:8px;
	border-radius:3px;
	margin-left: 0px;
}

.menu a:hover
{
	background: linear-gradient(to top right,cornflowerblue,black);
	padding:8px;
    color: white;
	border-radius:3px;
}
.header h3
{
	margin-left:0px;
	margin-top:-30px;
    color: black;
    font-family: serif;
    font-weight: bolder;
}
.menu
{
	margin-left:300px;
	margin-top:-200px;
	position: sticky;
    font-family:"Courier ";
}

@media screen and (max-width:1000px ){
	.menu {
		display: none;
         
	}
}




.sidepanel  
{
  width:0px;
  position:fixed;
  z-index: 1;
  height: 310px;
  top: 90px;
  left: 20px;
  background: linear-gradient(to top right,cornflowerblue,black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-radius: 10px;
}

.sidepanel a {
  padding: 8px 8px 18px 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
    margin-top: -20px;
}

.sidepanel a:hover {
  color: lime;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to top right,cornflowerblue,black);
  color: white;
  padding: 0px 10px;
  border: none;
  position:;
  margin-top:10px;
 
 }
.openbtn:hover 
{
  background-color: lime;
}




/*-----home-----*/

#home
{
	bottom:0;
	color:#f1f1f1;
	padding:20px;
	margin-top:80px;
	font-family:"Courier ";
	font-size: 140px;
    height: 500px;
    background-image: url(images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: full image;
    
}
@media screen and (max-width:1000px ){
	#home{
		width:500px;
	}

	a. sidepanel:link,
	a. sidepanel:visited,
	a. sidepanel:hover,
	a. sidepanel:active {
		text-decoration:none;
		color:#fff;
}}
@media screen and (max-width:400px ){
	#home{
         width: 500px;
        padding: 10px;
	}
}
@media screen and (max-width:400px ){
	#home{
         width: 540px;
        padding: 10px;
	}
}
#home h2
{
    font-family:Embassy BT; 
    font-weight:bolder; 
    color:black; font-size:70px; 
    margin-top:60px;
    
}
#services
{
    margin-top: 150px;
    text-align: center;
    
}
#services h3
{
    font-family:Embassy BT;
    color: white;
    font-size: 60px;
}
#services p
{
    font-family:Embassy BT;
    color: white;
    font-size: 16px;
}
#services h6
{
    font-family:Embassy BT;
    color: white;
    font-size: 16px;
}
#testimonials
{
    margin-left: 80px;
    margin-top: 100px;
    height: 300px;
}
@media screen and (max-width:1000px ){
	#testimonials {
		width: 480px;
        margin-left: 0px;
        height: 1100px;
        margin-top: 10px;
		
	}
}
@media screen and (max-width:400px ){
	#testimonials {
		width: 480px;
        	height: 1900px;
		
	}
}
.testimonials img
{
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 200px;
}
@media screen and (max-width:1000px ){
	.testimonials img{
		margin-top: 0px;
        margin-left: 150px;
		
	}
}
@media screen and (max-width:400px ){
	.testimonials img{
		margin-left: 80px;
		 width: 300px;
		height: 300px;
padding-bottom:20px;
	}
}
@media screen and (max-width:400px ){
	.testimonials {
		width: 470px;
		
	}
}
#testimonials h6
{
    font-family:Embassy BT;
    color: lime;

}
#testimonials p
{
    font-family:Embassy BT;
    color: black;
    font-size: 16px;
}
#testimonials .box
{
    margin-left: 10px;
    margin-top: 0px;
    width: 200px;
   
}
@media screen and (max-width:1000px ){
	#testimonials .box{
		margin-left: 50px;
        margin-top: 80px;
        width: 380px;
	}
}
@media screen and (max-width:400px ){
	#testimonials .box{
		width:400px;
	}
}
.testimonials-box
{
    display: inline-block;
}
.box .fa
{
    color: white;
    font-size: 30px;
    padding: 10px;
    background: linear-gradient(to top right,cornflowerblue,black);
}
h1
{
	color:black;
	text-align:;
    width: 200px;
	font-family:Embassy BT;
    border-right-color: black;
    border-right-style: solid;
    background-color: white;

}
h6
{
    color: black;
}







/*----Footer----*/

#footer
{
    background-color: black;
    margin-top: 50px;
}
.footer
{
	
	margin-top:10px;
	color:white;
	width:100%;
	padding:10px;
    
}
.footer{display: inline-block!important;}

@media screen and (max-width:1000px ){
	#footer{
		display: ;
		margin-left:0px;
        margin-top: 100px;
	}
}

@media screen and (max-width:400px ){
	#footer{
		display: none;
		
	}
	a. .footer:link,
	a. .footer:visited,
	a. .footer:hover,
	a. .footer:active {
		text-decoration:none;
		color:#fff;
		}
	}
.footer-content
{
    display: inline-block;
    margin-left: 40px;
    width: 200px;
}
@media screen and (max-width:1000px ){
	.footer-content{
		margin-left:0px;
	}
}
.footer h6
{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 5px;
    margin-left:20px;
    color: white;
    text-align: center;
    
	
}
.footer a
{
    color: white;
}
.footer a:hover
{
    color: lime;
}
.footer h5
{
	margin-left:30px;
	font-weight:lighter;
	font-size:14px;
  
}
.copyright
{
	
	padding:10px;
	background-color:black;
	color:white;
    margin-top: 1px;
}
.copyright p
{
    text-align:center;padding:10px;
}
@media screen and (max-width:1000px ){
	.copyright p{
		font-size: 12px;
        text-align: left;
	}
}
@media screen and (max-width:400px ){
	.copyright{
		width:550px;margin-top: 100px;
        
	}
}
.copyright .fa
{
        color:white;
    background: linear-gradient(to top right,cornflowerblue,black);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.copyright .fa:hover
{
    color: lime;
}

